<!--
  Generated template for the CreateAdsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border class="headerShadow">
  
    <ion-navbar>
      <ion-title > إضافة إعلان </ion-title>
    </ion-navbar>
  
</ion-header>


<ion-content>
        <ion-list no-padding>
            <ion-row id="adImgRow">
                <div id="mainImgDiv">
                    <div id="titleImgRow">
                        صور الإعلان
                        </div>
                        <div id="hintImgRow">
                            يمكنك إضافة خمس صور فقط.
                        </div>
                        <div id="imgSlidDiv">
                            <!-- click div to select image-->
                            <ion-slides spaceBetween="15"  slidesPerView='auto' dir="rtl">
                                <ion-slide >
                                    <div id="select" (click)="getPictures()">
                                        <img src="assets/icon/add.svg" />
                                    </div>
                                </ion-slide>
                                
                                    <ion-slide *ngFor="let image of base64Obj" >
                                        <img [src]="image" />
                                        
                                    </ion-slide>
                   
                            </ion-slides>
                        </div>
                </div>
            </ion-row>
            <ion-row id="listRow">
                <ion-list >
                    <ion-list-header no-lines>
                        تفاصيل الاعلان
                    </ion-list-header>
                    
                    <ion-item >
                        <ion-label color="primary" stacked>عنوان الإعلان</ion-label>
                        <ion-input type="text" min="2" required [ngModelOptions]="{standalone: true}" [(ngModel)]="title" placeholder="سيارة بي ام دابليو موديل 2017" ></ion-input>
                    </ion-item>
                    
                    <ion-item style="padding-top:24px">
                        <ion-label color="primary" stacked>نوع السيارة</ion-label>
                        <ion-select required [ngModelOptions]="{standalone: true}" [(ngModel)]="type" [placeholder]="'BMW/Mercedes'">
                            <ion-option value="أوبل"> أوبل </ion-option>
                            <ion-option value="أودي"> أودي </ion-option>
                            <ion-option value="الفا روميو"> الفا روميو </ion-option>
                            <ion-option value=" بروتون"> بروتون </ion-option>
                            <ion-option value="بريليانس"> بريليانس</ion-option>
                            <ion-option value="بورش"> بورش</ion-option>
                            <ion-option value="بي ام دبليو"> بي ام دبليو</ion-option>
                            <ion-option value="بيجو"> بيجو</ion-option>
                            <ion-option value="تويوتا"> تويوتا</ion-option>
                            <ion-option value="جاكوار"> جاكوار</ion-option>
                            <ion-option value="جيب"> جيب</ion-option>
                            <ion-option value="جيلي"> جيلي</ion-option>
                            <ion-option value="دايهاتسو"> دايهاتسو</ion-option>
                            <ion-option value="دايو"> دايو</ion-option>
                            <ion-option value="رينو"> رينو</ion-option>
                            <ion-option value="سبرنزا"> سبرنزا</ion-option>
                            <ion-option value="سكودا"> سكودا</ion-option>
                            <ion-option value="سوبارو"> سوبارو</ion-option>
                            <ion-option value="سوزوكي"> سوزوكي</ion-option>
                            <ion-option value="سيات"> سيات</ion-option>
                            <ion-option value="سيتروين"> سيتروين</ion-option>
                            <ion-option value="شيفروليه"> شيفروليه</ion-option>
                            <ion-option value="فورد"> فورد</ion-option>
                            <ion-option value="فولفو"> فولفو</ion-option>
                            <ion-option value="فولكسفاغن"> فولكسفاغن</ion-option>
                            <ion-option value="فيات"> فيات</ion-option>
                            <ion-option value="كرايسلر"> كرايسلر</ion-option>
                            <ion-option value="كيا"> كيا</ion-option>
                            <ion-option value="لادا"> لادا</ion-option>
                            <ion-option value="لاند روفر"> لاند روفر</ion-option>
                            <ion-option value="مازدا"> مازدا</ion-option>
                            <ion-option value="مرسيدس بنز"> مرسيدس بنز</ion-option>
                            <ion-option value="ميتسوبيشي"> ميتسوبيشي</ion-option>
                            <ion-option value="ميني كوبر"> ميني كوبر</ion-option>
                            <ion-option value="نيسان"> نيسان</ion-option>
                            <ion-option value="هامر"> هامر</ion-option>
                            <ion-option value="هوندا"> هوندا</ion-option>
                            <ion-option value="هيونداي"> هيونداي</ion-option>
                            <ion-option value="نوع اخر"> نوع اخر</ion-option>

                        </ion-select>
                    </ion-item>
                    <ion-item  style="padding-top:24px">
                        <ion-label color="primary" min="3" stacked> سنة الصنع</ion-label>
                        <ion-input required type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="production_year" placeholder="2008"></ion-input>
                    </ion-item>
                    <ion-item  style="padding-top:24px">
                        <ion-label color="primary" stacked> الأميال المقطوعة </ion-label>
                        <ion-input required type="number" min="1" [ngModelOptions]="{standalone: true}" [(ngModel)]="kilometres" placeholder="12300 كيلو متر"></ion-input>
                    </ion-item>
                    <ion-item  style="padding-top:24px">
                        <ion-label color="primary" stacked> سعة المحرك </ion-label>
                        <ion-input required type="number" min="2" [ngModelOptions]="{standalone: true}" [(ngModel)]="engine" placeholder="3000 سي سي" ></ion-input>
                    </ion-item>
                    <ion-item style="padding-top:24px">
                        <ion-label color="primary" stacked>نوع الوقود </ion-label>
                        <ion-select required [ngModelOptions]="{standalone: true}" [(ngModel)]="fuel" [placeholder]="'ممتاز/جيد جدا'">
                            <ion-option value="ممتاز"> ممتاز </ion-option>
                            <ion-option value="جيد جدا"> جيد جدا </ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item  style="padding-top:24px">
                        <ion-label color="primary" stacked>  السعر </ion-label>
                        <ion-input required type="number" min="2" [ngModelOptions]="{standalone: true}" [(ngModel)]="price" placeholder="140,000 ريال سعودي" ></ion-input>
                    </ion-item>
                </ion-list>
            </ion-row>
            <ion-row>
             
                <button *ngIf=" title == null || production_year == null || kilometres == null || engine == null || price == null" ion-button color="primary"  disabled>إضافة الإعلان</button>            
                <button *ngIf="title != null && production_year  != null && kilometres != null && engine != null && price != null" ion-button color="primary" submit (click)="addAds();">إضافة الإعلان</button>            
                
            </ion-row>
        </ion-list>
</ion-content>
